$secondaryButtonBg: $shade100;
$secondaryButtonTextColor: $shade600;
$secondaryButtonBorder: 1px solid $shade100;
$secondaryButtonHoverBg: $shade200;
$secondaryButtonTextHoverColor: $shade700;
$secondaryButtonHoverBorderColor: $shade200;
$secondaryButtonActiveBg: $shade300;
$secondaryButtonTextActiveColor: $shade800;
$secondaryButtonActiveBorderColor: $shade300;
