$primaryColor: #1e90c7 !default;
$primaryDarkColor: #17709b !default;
$primaryDarkerColor: #11506f !default;
$primaryTextColor: #fefefe !default;
$secondaryColor: #ffffff !default;

$highlightBg: lighten($primaryColor, 45%) !default;
$highlightTextColor: $primaryDarkerColor !default;
$highlightFocusBg: rgba($primaryColor, .24) !default;

@import '../_variables';
@import './_custom';
@import './_fonts';
@import '../../theme-base/_components';
@import '../extensions/_extensions';
